<thead>
    <tr>
        <th class="col-xs-1"><span>ID</span></th>
        <th><span>Name</span></th>
        <th class="col-xs-1"><span>Server Qty</span></th>
    </tr>
</thead>

<tbody>
    {{#each node in view.loader}}
        <tr>
            <td>{{node.id}}</td>
            {{view "tables/cells/titled-linked-cell" routeName="node" item=node labelText=node.name}}
            <td>{{node.servers_count}}</td>
        </tr>
    {{else}}
        <tr>
            <td colspan="3" class="no-results">
                No nodes
            </td>
        </tr>
    {{/each}}
</tbody>
